<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Didact+Gothic&family=EB+Garamond:wght@800&family=Quicksand&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">QUEEN</h1>
  </div>
</div>