{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/{{ imagebw }}.jpg" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h6> {{ instrument }}</h6>
          <h3>{{ tenure }}</h3>
          <h5>{{ birthdate }}</h5>
          <h5>{{ birthplace }}</h5>
          <p>{{ description }}</p>
      </div>
    </div>
  </article>
{% endblock %}
