<!doctype html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Didact+Gothic&family=EB+Garamond:wght@800&family=Quicksand&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
<html lang="en">
  <!-- A Intro to Coding for Journalists class project -->
  <head>
    <title>Queen | {% block page_title %}Default title{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ relative_path }}css/main.css">
  </head>
  <body>
    {% include "_includes/nav.njk" %}

    {% include "_includes/jumbotron.njk" %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.njk" %}

    <script src="{{ relative_path }}js/jquery.js"></script>
    <script src="{{ relative_path }}js/bootstrap.bundle.min.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
  </body>
</html>