<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Didact+Gothic&family=EB+Garamond:wght@800&family=Oswald:wght@600&family=Quicksand&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of all of Queens released discography.{% endblock %}

{% block content %}
<article class="container">
  <div class="row justify-content-center">
  <h1>Discography</h1>
  <p> The British rockers have released 15 studio albums, 10 live albums, 16 compilation albums, two soundtrack albums, 2 extended plays, 73 singles, and seven promotional singles. Since the 1970s, Queen has sold 300 million records worldwide, making them one of the best-selling 
  artists in history.</p>
  <br>
  <p>Here we have listed their 15 official studio releases.</p>
</article>
<div class="container">
  <div class="row row-cols-sm-2 row-cols-1 row-cols-md-3 g-4 justify-content-center">
  {% for discography in discography.discography %}
  <div class="col-sm-6 mb-3 mb-sm-4">
    <div class="card text-bg-dark border-danger" style="width: 18rem;">
        <img src="../img/{{ discography.image }}.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{discography.title}}</h5>
        <p class="card-text">{{discography.year}}</p>
        <a href="{{discography.source}}" target="_blank"class="btn btn-danger">Listen here!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<br>
<div class="container">
  <iframe title="Queen's Billboard Charting History" aria-label="Table" id="datawrapper-chart-2209u" src="https://datawrapper.dwcdn.net/2209u/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="819" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
</script>
</div>
{% endblock %}