{% extends '_templates/base.njk' %}

{% block page_title %}Band Info Site{% endblock %}

{% block page_description %}Get acquainted with the British rock band Queen, whose fusion of heavy metal, glam rock, and camp theatrics made them one of the most popular groups of the 1970s.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div id="introduction">
      <h1>About Queen</h1>
      <p>Queen is a British rock band who are famous for their fusion of heavy metal, glam rock, and camp theatrics. Formed in 1971 and signed to EMI records in 1973, the quartet quickly became one of the most popular groups of the 1970s. </p>
      <br>
      <p>
        From creating iconic sporting anthems like "We Will Rock You" and "We Are The Champions" to helping popularize the music video format with their innovative sonic journey known as "Bohemian Rhapsody" and becoming one of the biggest stadium rock bands in the world by the early 1980s, Queen has cememted itself as one of the most important bands in rock history.</p>
      </div>
      <h5>Meet The Band</h5>
        <div class="row">
        {% for members in members.members %}
        <div class="col-sm-6 col-lg-4">
          <div class="card text-bg-dark border-danger mb-4">
            <img src="../src/img/{{ members.image}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ members.name }}</h5>
              <p class="card-text">{{ members.tenure }}</p>
              <a href="{{ relative_path }}members/{{ members.slug}}.html">{{ members.members}} Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}