<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Cormorant+SC:wght@400;700&family=Didact+Gothic&family=EB+Garamond:wght@800&family=Oswald:wght@600&family=Quicksand&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}

{% block page_description %}A tourdate sheets of all the days and locations Queen visited in their latest tour.{% endblock %}

{% block content %}
<article class="container">
  <h1>The Rhapsody Tour</h1>
  <p>The Rhapsody Tour is an ongoing worldwide concert tour by Queen + Adam Lambert, the collaboration between British rock band Queen and American singer Adam Lambert. The tour was announced following the success of the biopic film Bohemian Rhapsody.</p>
</article>
<h3 class="row justify-content-center" id="tour">DATES</h3>
<br>
<div class="container" id="grid">
  <div class="row justify-content-center">
    {% for tour in tour.tour %}
     <div class="col-6 col-md-4">
      <b>{{tour.date}}</b>
    </div>
     <div class="col-6 col-md-4">
      <p>{{tour.city}}</p>
    </div>
    <div class="col-6 col-md-4">
      <p>{{tour.venue}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}