<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Cormorant+SC:wght@400;700&family=Didact+Gothic&family=EB+Garamond:wght@800&family=Oswald:wght@600&family=Quicksand&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}

{% block page_description %}A tourdate sheets of all the days and locations Queen visited in their latest tour.{% endblock %}

{% block content %}
<article class="container">
  <h1>The Rhapsody Tour</h1>
  <p>The Rhapsody Tour is an ongoing worldwide concert tour by Queen + Adam Lambert, the collaboration between British rock band Queen and American singer Adam Lambert. The tour was announced following the success of the biopic film Bohemian Rhapsody.</p>
</article>
<table class="table table-hover">
  <thead class="table-danger">
    <tr>
      <th scope="col"></th>
      <th scope="col">Date</th>
      <th scope="col">City</th>
      <th scope="col">Venue</th>
    </tr>   
  </thead>
      {% for tour in tour.tour %}
  <tbody>
    <tr>
      <th scope="row justify-content-center"></th>
      <td>{{tour.date}}</td>
      <td>{{tour.city}}</td>
      <td>{{tour.venue}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
