#jumbo {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

#jumbo {
  margin-bottom: 30px;
}

#jumbo {
  font-family: 'Cormorant Garamond', serif;
  color: whitesmoke;
}