#tour {
  font-family: 'Cormorant SC', serif;
  font-size: 2.5rem;
  color: rgb(145, 25, 25);
}

table {
  padding: .5rem;
  font-family: 'Didact Gothic', sans-serif;
  scale: 95%;
  margin-top: 0%;
}

thead {
  font-style: bold;
}