// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';

@import "jumbotron";

@import "tour";
h1 {
  font-family: 'EB Garamond', serif;
  color: red;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}
.title h5 {
  font-family: 'Bebas Neue', sans-serif;
  color: red;
}
p {
  font-family: 'Quicksand', sans-serif;
}